<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Números y Múltiplos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Ingrese un número</ion-label>
    <ion-input type="number" [(ngModel)]="numeroIngresado"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="generarNumeros()">Generar Números</ion-button>

  <!--Lista de num con multiplos-->
  <ion-list>
    <ion-list-header>
      <ion-label>Números del 0 al {{ numeroIngresado }}</ion-label>
    </ion-list-header>
    @for (numero of numeros; track numero.valor) {
      <ion-item>
        <ion-label [style.color]="numero.color">
          {{ numero.valor }}
          @if (numero.multiplos.length > 0) {
            <span> (Múltiplo de {{ numero.multiplos.join(', ') }})</span>
          }
        </ion-label>
      </ion-item>
    }
  </ion-list>

  <!--Lista de peticiones guardadas-->
  <ion-list>
    <ion-list-header>
      <ion-label>Peticiones Guardadas</ion-label>
    </ion-list-header>
    @for (peticion of peticionesGuardadas; track peticion.id) {
      <ion-item>
        <ion-label>
          Número ingresado: {{ peticion.numeroIngresado }}
          <br>
        <small>Fecha: {{ peticion.fecha.toDate() | date:'medium' }}</small>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>